Fy3y.Web.ImsSite/Connected Services/HuTongHuRenService/IMutualRecognitionServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="IMutualRecognitionServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:element name="Excute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="request" type="tns:MutualRecognitionRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExcuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ExcuteResult" type="tns:BaseResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MutualRecognitionRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="interfaceXml" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="message" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="request_id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMutualRecognitionServices_Excute_InputMessage">
    <wsdl:part name="parameters" element="tns:Excute" />
  </wsdl:message>
  <wsdl:message name="IMutualRecognitionServices_Excute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcuteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMutualRecognitionServices">
    <wsdl:operation name="Excute">
      <wsdl:input message="tns:IMutualRecognitionServices_Excute_InputMessage" />
      <wsdl:output message="tns:IMutualRecognitionServices_Excute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding style="document" name="BasicHttpBinding" type="tns:IMutualRecognitionServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Excute">
      <soap:operation soapAction="http://tempuri.org/IMutualRecognitionServices/Excute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMutualRecognitionServices">
    <wsdl:port name="BasicHttpBinding" binding="tns:BasicHttpBinding">
      <soap:address location="http://192.168.10.160:5010/MutualRecognitionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>