ConsoleApp1/Connected Services/FuyangSignService/sign.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WebServerEnterance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebServerEnteranceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebServerEnteranceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebServerEnteranceSoapIn">
    <wsdl:part name="parameters" element="tns:WebServerEnterance" />
  </wsdl:message>
  <wsdl:message name="WebServerEnteranceSoapOut">
    <wsdl:part name="parameters" element="tns:WebServerEnteranceResponse" />
  </wsdl:message>
  <wsdl:portType name="signSoap">
    <wsdl:operation name="WebServerEnterance">
      <wsdl:input message="tns:WebServerEnteranceSoapIn" />
      <wsdl:output message="tns:WebServerEnteranceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="signSoap" type="tns:signSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebServerEnterance">
      <soap:operation soapAction="http://tempuri.org/WebServerEnterance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="signSoap12" type="tns:signSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebServerEnterance">
      <soap12:operation soapAction="http://tempuri.org/WebServerEnterance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sign">
    <wsdl:port name="signSoap" binding="tns:signSoap">
      <soap:address location="http://10.120.22.100/sign/sign.asmx" />
    </wsdl:port>
    <wsdl:port name="signSoap12" binding="tns:signSoap12">
      <soap12:address location="http://10.120.22.100/sign/sign.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>